{%extends 'studentmanagementApp/base.html'%}
{%load static%}
{% block content %}
<div class="container">
  <h1>Update Profile</h1><br>
  <div class="card">
  <img src="{{user.profile_pic.url}}" alt="Avatar" style="width:100px; height:100px;">
  <div class="container">
    <h4><b>{{user.first_name}} {{user.last_name}}</b></h4>
    </div>
</div>
  <form  method="post" enctype="multipart/form-data"> {%csrf_token%}

  <label for="first_name">First Name : </label><br>
  <input id='first_name' type="text" name="first_name" value="" > <br>

  <label for="lastname">Last Name : </label><br>
  <input id='last_name' type="text" name="last_name" value="" > <br>

  <label for="email">Email : </label><br>
  <input id='email' type="email" name="email" value="" > <br>

  <label for="mobileno">Mobile No : </label><br>
  <input id='mobileno' type="number" name="mobileno" value="" > <br>

  <label for="profile_pic">Profile pic : </label><br>
  <input id ='profile_pic' type="file" name="profile_pic" value="">  <br>
<br>
  <label for="cars">Course</label>
  <select name="course" id="course">
    <option value="">....</option>
    <option value="btech">B.Tech.</option>
    <option value="mtech">M.Tech</option>
    <option value="mba">MBA</option>
    <option value="mca">MCA</option>
  </select>

  <br>
    <label for="cars">Session</label>
    <select name="session" id="session">
      <option value="">....</option>
      <option value="sessionyear1">2020 - 2024</option>
      <option value="sessionyear2">2021 - 2025</option>
    </select>

  <br><br>
  <input type="submit" name="" value="Submit" class="btn btn-primary">
  </form>
</div>

{% endblock %}
