{%extends 'studentmanagementApp/base.html'%}
{%load static%}
{% block content %}



<h1 style="text-align:center; color:green; ">Course Available</h1>
{% if messages %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {% for message in messages%}
    <p id=messages>{{message}}</p>
    {%endfor%}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{%endif%}


<table class="table table-hover">
  <thead>
    <tr>
      <th>Course ID</th>
      <th>Course Name</th>
      <th>Created_at</th>
      <th>Updated_at</th>
      <th colspan="2">Action</th>

    </tr>
  </thead>
  <tbody>
    {%for course in courses%}
    <tr>
      <td>{{course.id}}</td>
      <td>{{course.name}}</td>
      <td>{{course.created_at}}</td>
      <td>{{course.updated_at}}</td>
      <td><a class="btn btn-secondary fas fa-edit" href="{%url 'edit_course' course.id%}"> Edit</a></td>
      <td><a class="btn btn-danger fa fa-trash" href="{%url 'delete_course' course.id%}"> Delete</a></td>
</tr>
    {%endfor%}
  </tbody>
</table>

<script type="text/javascript">
        setTimeout(function () {

            // Closing the alert
            $('.alert').alert('close');
        }, 2000);
</script> 

{% endblock %}
