{%extends 'studentmanagementApp/base.html'%}
{%block content%}
<br><br>
<div class="container">
  <table class="table table-hover">
       <thead>
       <tr>
         <th>Feedback By</th>
         <th>Feedback Message</th>
         <th>Created_at</th>
         <th>Reply</th>
         <th>Replied_at</th>

       </tr>
     </thead>
     <tbody>
       {%for feedback in staff_feedbacks%}
       <tr>
               <td>{{feedback.staff.admin.first_name}} {{feedback.staff.admin.last_name}}</td>
               <td><textarea rows="5" cols="20" class="form-control" readonly>{{feedback.feedback}}</textarea></td>
               <td>{{feedback.created_at}}</td>
               <td><form  method="post">{%csrf_token%}
                 {%if feedback.feedback_reply == ""%}
                 <input type="number" name="feedback_id" value="{{feedback.id}}" hidden>
                 <textarea name="feedback_reply" rows="5" cols="20" class="form-control" placeholder="Type your Reply here..."></textarea>
                <button type="submit"  class="badge badge-primary">Send Reply</button>
                <td><button type="button"  class="badge badge-primary">not yet replied </button></td>
                 {%else%}
                 <textarea rows="5" cols="20" class="form-control" readonly>{{feedback.feedback_reply}}</textarea>
                 <td>{{feedback.updated_at}}</td>
                 {%endif%}
               </form></td>





       </tr>
       {%endfor%}
     </tbody>
   </table>

</div>

 {%endblock%}
