{%extends 'studentmanagementApp/base.html'%}
{%load static%}
{% block content %}
<h1 style="text-align:center; color:green; ">Staff Details</h1>
{% if messages %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {% for message in messages%}
    <p id=messages>{{message}}</p>
    {%endfor%}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
 {% endif%}
<table class="table table-hover">
   <thead>
     <tr>

       <th>Profile Pic</th>
       <th>Staff Name</th>
       <th>Staff ID</th>
       <th>Designation</th>
       <th>Gender</th>
       <th>Email</th>
       <th>Mobile No</th>
       <th>Address</th>
       <th>Created_at</th>
       <th>Updated_at</th>
       <th></th>
       <th></th>
     </tr>
   </thead>
   <tbody>
     {%for staff in stafff%}
     <tr>
             <td><img src="{{staff.admin.profile_pic.url}}" class="rounded-circle" alt="Cinque Terre" width="50" height="50"></td>
             <td>{{staff.admin.first_name}}&nbsp{{staff.admin.last_name}}</td>
             <td>{{staff.staff_id}}</td>
             <td>{{staff.designation}}</td>
             <td>{{staff.Gender}}</td>
             <td>{{staff.admin.email}}</td>
             <td>{{staff.admin.mobileno}}</td>
             <td>{{staff.address}}</td>
             <td>{{staff.created_at}}</td>
             <td>{{staff.updated_at}}</td>
             <td><a class="btn btn-secondary fas fa-edit" href="{%url 'edit_staff' staff.id%}"> Edit</a></td>
             <td><a class="btn btn-danger fa fa-trash" href="{%url 'delete_staff' staff.admin%}"> Delete</a></td>
     </tr>
     {%endfor%}
   </tbody>
 </table>

 <script type="text/javascript">
         setTimeout(function () {

             // Closing the alert
             $('.alert').alert('close');
         }, 2000);
 </script>
{% endblock %}
