{%extends 'studentmanagementApp/base.html'%}
{%load static%}
{% block content %}
<div class="container">
  <h1>Change Password</h1><br>

  {% if messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      {% for message in messages%}
      <p id=messages>{{message}}</p>
      {%endfor%}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
   {% endif%}

  <form  method="post" enctype="multipart/form-data"> {%csrf_token%}
  <label for="old_password">Enter Your Old Password </label><br>
  <input id='old_password' type="password" name="old_password" value="" required>
  <br>
  <label for="new_password1">Enter New Password </label><br>
  <input id='new_password1' type="password" name="new_password1" value="" required >  <br>

  <label for="new_password2">Confirm New Password </label><br>
  <input id='new_password2' type="password" name="new_password2" value="" required>  <br> <br>

  <input type="submit" name="" value="Update Password" class="btn btn-primary">
  </form>
</div>

{% endblock %}
